BookReviewClient/App_WebReferences/BookRevReference/BookReviewService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookReviewService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1769/BookReviewService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1769/BookReviewService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1769/BookReviewService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:1769/BookReviewService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookReviewService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBookReviewService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBookReviewService_RegisterReviewer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterReviewer" />
  </wsdl:message>
  <wsdl:message name="IBookReviewService_RegisterReviewer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterReviewerResponse" />
  </wsdl:message>
  <wsdl:message name="IBookReviewService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IBookReviewService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookReviewService_GetBooksByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthor" />
  </wsdl:message>
  <wsdl:message name="IBookReviewService_GetBooksByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IBookReviewService_GetAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthors" />
  </wsdl:message>
  <wsdl:message name="IBookReviewService_GetAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookReviewService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookReviewService/Login" message="tns:IBookReviewService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookReviewService/LoginResponse" message="tns:IBookReviewService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterReviewer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookReviewService/RegisterReviewer" message="tns:IBookReviewService_RegisterReviewer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookReviewService/RegisterReviewerResponse" message="tns:IBookReviewService_RegisterReviewer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookReviewService/GetBooks" message="tns:IBookReviewService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookReviewService/GetBooksResponse" message="tns:IBookReviewService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookReviewService/GetBooksByAuthor" message="tns:IBookReviewService_GetBooksByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookReviewService/GetBooksByAuthorResponse" message="tns:IBookReviewService_GetBooksByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookReviewService/GetAuthors" message="tns:IBookReviewService_GetAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookReviewService/GetAuthorsResponse" message="tns:IBookReviewService_GetAuthors_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookReviewService" type="tns:IBookReviewService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBookReviewService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterReviewer">
      <soap:operation soapAction="http://tempuri.org/IBookReviewService/RegisterReviewer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IBookReviewService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <soap:operation soapAction="http://tempuri.org/IBookReviewService/GetBooksByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <soap:operation soapAction="http://tempuri.org/IBookReviewService/GetAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookReviewService">
    <wsdl:port name="BasicHttpBinding_IBookReviewService" binding="tns:BasicHttpBinding_IBookReviewService">
      <soap:address location="http://localhost:1769/BookReviewService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>