BookReviewClient/App_WebReferences/BookRevReference/BookReviewService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reviewer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckinLogs" nillable="true" type="tns:ArrayOfCheckinLog" />
      <xs:element minOccurs="0" name="ReviewPlainPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewerDateEntered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewerHashedPass" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ReviewerKey" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewerKeyCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewerUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reviews" nillable="true" type="tns:ArrayOfReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reviewer" nillable="true" type="tns:Reviewer" />
  <xs:complexType name="ArrayOfCheckinLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckinLog" nillable="true" type="tns:CheckinLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckinLog" nillable="true" type="tns:ArrayOfCheckinLog" />
  <xs:complexType name="CheckinLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckInLogKey" type="xs:int" />
      <xs:element minOccurs="0" name="CheckinDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Reviewer" nillable="true" type="tns:Reviewer" />
      <xs:element minOccurs="0" name="ReviewerKey" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckinLog" nillable="true" type="tns:CheckinLog" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:Book" />
      <xs:element minOccurs="0" name="BookKey" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewKey" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewRating" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reviewer" nillable="true" type="tns:Reviewer" />
      <xs:element minOccurs="0" name="ReviewerKey" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authors" nillable="true" type="tns:ArrayOfAuthor" />
      <xs:element minOccurs="0" name="BookEntryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookKey" type="xs:int" />
      <xs:element minOccurs="0" name="BookTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="Reviews" nillable="true" type="tns:ArrayOfReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthor" nillable="true" type="tns:ArrayOfAuthor" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorKey" type="xs:int" />
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBook" />
      <xs:element minOccurs="0" name="CategoryKey" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfBookInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookInfo" nillable="true" type="tns:BookInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookInfo" nillable="true" type="tns:ArrayOfBookInfo" />
  <xs:complexType name="BookInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookAuthor" nillable="true" type="tns:ArrayOfAuthor" />
      <xs:element minOccurs="0" name="BookEntryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookInfo" nillable="true" type="tns:BookInfo" />
</xs:schema>